.up-bar {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  text-decoration: none;
  color: azure;
}
.feedback {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.feedback-u {
  text-decoration: none;
  color: azure;
}
.feedback :hover {
  color: aqua;
}
.projects {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.projects-u {
  text-decoration: none;
  color: azure;
}
.projects :hover {
  color: aqua;
}
.help {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.help-u {
  text-decoration: none;
  color: azure;
}
.help :hover {
  color: aqua;
}
.contact-me {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.contact-u {
  text-decoration: none;
  color: azure;
}
.contact-me :hover {
  color: aqua;
}
.abt-helpin {
  margin-top: 25px;
  /* border: 2px solid red; */
  color: azure;
}
.about-h {
  /* border: 2px solid yellow; */
  margin-top: 20px;
  margin-left: 500px;
  color: azure;
  padding-right: 80px;
}
.abt-me-para {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: azure;
}
.helpin {
  /* border: 2px solid rgb(21, 123, 218); */
  margin-top: 40px;
  margin-left: 400px;
  /* color: azure; */
}
.helpin-para {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
  color: azure;
}
.helping-para span {
  color: red;
}
.up-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.edu-skill {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-right: 70px;
}
.skills {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.edu-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  display: inline-block;
  justify-content: center;
  justify-content: space-around;
}
.edu-div {
  border: 2px solid yellow;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.skill-div {
  border: 2px solid rgb(98, 0, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: azure;
}
.si {
  display: inline-block;
  justify-content: center;
  justify-content: space-around;
  color: azure;
}
.es-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
  color: azure;
}
.sp {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
  color: azure;
}
.edu-pi {
  padding-top: 5px;
}
.es-pi {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: azure;
}
.p-type {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.input {
  /* border: 2px solid red; */
  padding-top: 5px;
  margin-left: 10px;
  padding-top: 6px;
}
.put {
  padding-top: 2px;
  color: green;
}
.puta {
  padding-top: 2px;
  color: green;
}
.put {
  padding-top: 1px;
  color: green;
}
.pute {
  padding-top: 1px;
  color: green;
}
.puti {
  padding-top: 5px;
  color: green;
}
.puto {
  padding-top: 1px;
  color: green;
}
.low-side {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.icons {
  /* border: 2px solid purple; */
  display: flex;
  text-decoration: none;
}
.icons li {
  color: white;
  display: flex;
  text-decoration: none;
  height: 70px;
  padding: 0px;
  margin: 0px;
  height: 50%vh;
}
.ed-h {
  color: azure;
}
.edu-h2 {
  color: azure;
}
.skills-h {
  color: azure;
}
.ski-h2 {
  color: azure;
}
.div-pe {
  color: azure;
}
body {
  background-color: black;
}
