body {
  /* background-color: black; */
}
.up-bar {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  text-decoration: none;
}
.about {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.about-u {
  text-decoration: none;
  color: azure;
}
.about :hover {
  color: aqua;
}
.projects {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.projects-u {
  text-decoration: none;
  color: azure;
}
.projects :hover {
  color: aqua;
}
.feedback {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.feedback-u {
  text-decoration: none;
  color: azure;
}
.feedback :hover {
  color: aqua;
}
.help {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  padding-top: 6px;
}
.help-u {
  text-decoration: none;
  color: azure;
}
.help :hover {
  color: aqua;
}
.get-in-touch {
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: azure;
  margin-top: 30px;
}
.center {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.c-right {
  /* border: 2px solid green; */
}
.c-left {
  /* border: 2px solid red; */
}
.input {
  height: 50px;
  width: 250px;
}
.in {
  height: 80px;
  width: 250px;
}
.send-msg {
  margin-left: 40px;
  background-color: aqua;
  border-radius: 20px;
  height: 30px;
  width: 200px;
}
.send-msg :hover {
  color: aqua;
}
.enve {
  margin-bottom: 20px;
}
.pho {
  border: 2px solid green;
}
.map {
  border-radius: 3px;
}
body {
  background-image: url(../img/world-map-dark.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  filter: brightness(85%);
}
