.menu-div {
  /* background-color:black; */
}

.div2 {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.div2 li {
    display: flex;
    justify-content: space-between;
}


#help {
  border: 1px solid red;
  margin-top: 40px;
}
/* #menu{ */

}
