body {
  background-color: black;
}
.menu-div {
  /* background-color: black; */
  color: aliceblue;
}

.div2 {
  color: aliceblue;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  height: 500px;
}
.div2 li {
  display: flex;
  justify-content: space-between;
}

#help {
  /* border: 1px solid red; */
  margin-top: 40px;
}
#menu {
  color: rgb(255, 255, 255);
  /* border: 2px solid purple; */
}
