.home-all {
  background-color: black;
}
.div-1 {
  border: 4px solid;
  display: flex;
  justify-content: space-between;
}

.h1-1 {
  /* border: solid green; */
  color: aqua;
  border-bottom: 2px solid aqua;
  display: grid;
  place-items: center;
  margin-top: 2px;
  margin-right: 5px;
}
.div2-all {
  display: flex;
  justify-content: space-between;
}
.div-2 {
  /* border: 3px solid brown; */
  /* justify-content: center; */
}
.paragraphs {
  width: 700px;
  padding-top: 50px;
  padding-left: 50px;
}
.para1 {
  /* border: 2px solid green; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: azure;
}
.para2 {
  /* border: 2px solid blue; */
  font-family: "Tinos", serif;
  display: flex;
  justify-content: center;
  margin: 0px;
  font-size: 30px;
  color: azure;
}
.div-pe {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  margin-top: 180px;
  color: azure;
  /* border: 2px solid red; */
}

.div-3 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}
.icons {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons li {
  display: flex;
  text-decoration: none;
  height: 70px;
  padding: 0px;
  margin: 0px;
}
.img {
  /* border: 2px solid green; */
  padding-right: 0px;
  padding-bottom: 0px;
}
.img-resize {
  height: 300px;
}
.bx-menu {
  color: azure;
}
